*{
    padding: 0px;
    margin: 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-template-areas:
    "header     header"
    "loop       publi"
    "artista    artista"
    "footer     footer";
}

.menu ul{
    background-image: url(../imagenes/BMG\ Banner.jpg);
    width: 100%;
    height: 215px;
    background-size: cover;
    display: flex;
    justify-content: center;
    }   

.menu ul li a{
    margin: 50px;
    text-decoration: none;
    color: #ffffff;
    font-size: 26px;
    }

.cabeza{
    grid-area: header;
}

.video{
    grid-area: loop;
   }

.carousel-publi{
    grid-area: publi;
}
.artista{
    grid-area: artista;
}

.pie{
    grid-area: footer;
}


h1{
    color: #1faec7;
    margin: 30px;
    font-size: 30px;
    }
    


.carousel-publi article img{
    width: 300px;
    border: 2px solid #1faec7;
    margin-left: 60%;
    background-color: #ffffff;
    } 

body{
    background-color: rgb(4, 4, 72);
    }

h2{
    text-decoration: underline;
    margin-left: 60%;
    color: #ffffff;
    }



h3{
    font-size: 26px;
    margin: 30px;
    text-decoration: underline;
    color: white;
    }

.artista article{
    width: 400px;
    margin: 30px;
    }

.carousel-prog article img{
        grid-area: progimg;
        width: 400px;
        border: 5px solid #1faec7;
        margin-left: 35%; 
    }


.table thead tr{
    color: #ffffff;
    text-align: justify;
    text-align: center;
    }

.mensaje{
    color: #ffffff;
    font-size: 16px;
    }

.mapa{
    grid-area: mapa;
    width: 605px;
    margin-left: 50%;
    }
    
footer{
    background-color: black;   
    text-align: center;
    color: #ffffff;
    }

    @media (max-width: 768px){
        .container{
           grid-template-columns: repeat(2,1fr) ;
            grid-template-rows: 1fr, 1fr, 1fr, 1fr;
            grid-template-areas:
            "header     header"
            "loop       publi"
            "artista    artista"
            "footer     footer";
        }
        .menu ul{
            background-image: url(../imagenes/BMG\ Banner.jpg);
            width: 100%;
            height: 215px;
            background-size: cover;
            display: flex;
            justify-content: center;
            }   
    }